<!DOCTYPE html>
<html>
<head>
    <title>Book Flight</title>
</head>
<body>
    <h1>Book Flight</h1>
    <form method="POST" action="{{ url_for('book_flight') }}">
        <input type="hidden" name="flight_no" value="{{ flight.flight_no }}">
        <input type="hidden" name="departure_date" value="{{ flight.departure_date }}">
        <input type="hidden" name="departure_time" value="{{ flight.departure_time }}">
        <input type="hidden" name="airline_name" value="{{ flight.airline_name }}">
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" required><br>
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" required><br>
        <label for="dob">Date of Birth:</label>
        <input type="date" id="dob" name="dob" required><br>
        <input type="submit" value="Book Flight">
    </form>
</body>
</html>